@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Define standard variables and values for website */
$bgcolor: lightgreen;
$bgcolor2: lightblue;
$textcolor: white;
$fontsize: 18px;
